<header class="header">
  <div class="header__top-line">
    <div class="container">
      <%- include header/menu-top %>
      <%- include header/menu-icons %>
    </div>
  </div>
  <div class="header__middle-line">
    <div class="container">
      <%- include header/logo %>
      <%- include header/address %>
      <%- include header/phone %>
    </div>
  </div>
  <div class="header__bottom-line">
    <div class="container">
      <%- include header/menu-main %>
    </div>
  </div>
</header>